* {
  box-sizing: border-box;
}

body {
 background: rgb(20, 200, 90);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
  max-width: 1700px;
  min-height: 200vh;
  margin: 0 auto;
  padding: 32px 40px;
}
